<div><h2>Register profile</h2></div>

<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
    <div class="form-group">
        <label for="piblicName">Public name</label>
        <input ngModel class="form-control" type="text" id="publicName" name="publicName" required>
    </div>
    <div class="form-group">
        <label for="imageURL">Image url</label>
        <input ngModel class="form-control" type="url" id="imageURL" name="imageURL" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input ngModel class="form-control" type="number" id="phone" name="phone" required>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input ngModel class="form-control" type="text" id="address" name="address" required>
    </div>
    <div class="form-group">
        <label for="email">Username email</label>
        <input ngModel class="form-control" type="text" id="email" name="email" required [pattern]="emailPattern">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ngModel class="form-control" type="password" id="password" name="password" required >
    </div>
    <div class="form-group">
        <label for="rePassword">Repeat password</label>
        <input ngModel class="form-control" type="password" id="rePassword" name="rePassword" required >
    </div>
    <button class="btn btn-success" [disabled]="registerForm.invalid">Register</button>
</form>