
<div *ngIf="!products">There is no products to show</div>
<div class="product-grid" *ngFor="let product of (products)">
        <a class="list-group-item" (click)="singleProductHandler(product.payload.doc.id)">
            <p class="img"><img src="{{product.payload.doc.data().imgURL}}" alt=""></p>
            <h2>{{product.payload.doc.data().title}}</h2>
            <p>Avaibility: {{product.payload.doc.data().qty}}</p>
            <h5>{{product.payload.doc.data().category}}</h5>
            <h4>Price: {{product.payload.doc.data().price}} BGN</h4>
        </a>
</div>
